header{
    display: flex;
    background-color: rgb(59, 87, 144)
}

h1{
    margin-top: 30px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: #00000084;
}

.menu-header {
    /* font-size: 24px; /* Augmente la taille du texte */
   /* padding: 10px 20px; /* Augmente la taille du bouton */

    transform: scale(1.75);
    position:absolute;
    right:20px;
    top  :20px;}