<header>
<div>
<img src="../../assets/51logo.png" alt="" width="150px">
</div>
<div>
<h1>{{this.page}}</h1>
</div>
<button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon menu-header" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigate('/')">
      <mat-icon>house</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item (click)="navigate('/shop')">
      <mat-icon>shopping_basket</mat-icon>
      <span>Shop</span>
    </button>
    <button mat-menu-item disabled="false" (click)="navigate('/cart')">
      <mat-icon>shopping_cart</mat-icon>
      <span>Cart</span>
    </button>
  </mat-menu>
</header>

