<h2>{{myProduct.title}}</h2>
<img src="{{myProduct.imageUrl}}" width="100">
<p>{{myProduct.description}}</p>

<p>{{myProduct.price}} €</p>
<p><b>❤️ {{myProduct.likes}}</b></p>
<button (click)="onAddLike()">like</button>
<p *ngIf="myProduct.size">Plusieurs tailles disponibles</p>
<select *ngIf="myProduct.size">
    <option *ngFor="let element of myProduct.size" [value]="element">{{element}}</option>

</select>

<mat-card>
    <mat-card-title>{{myProduct.title}}</mat-card-title>
    <img mat-card-image class="custom-image-size" src="{{myProduct.imageUrl}}">
    <mat-card-content>{{myProduct.description}}</mat-card-content>

    <mat-card-actions>
        <button mat-button (click)="onAddLike()">{{myProduct.likes}} ❤️</button>
      </mat-card-actions>



</mat-card>
