<h2>{{myProduct.title}}</h2>
<img src="{{myProduct.imageUrl}}" width="100">
<p>{{myProduct.description}}</p>

<p>{{myProduct.price}} €</p>
<p><b>❤️ {{myProduct.likes}}</b></p>
<button (click)="onAddLike()">like</button>
<p *ngIf="myProduct.size">Plusieurs tailles disponibles</p>
<select *ngIf="myProduct.size">
    <option *ngFor="let element of myProduct.size" [value]="element">{{element}}</option>

</select>
<br>
<br>
<br>
<br>

<mat-card class=".card">
    <mat-card-title>{{myProduct.title}}</mat-card-title>
    <img mat-card-image class="custom-image-size" src="{{myProduct.imageUrl}}">
    <mat-card-content>{{myProduct.description}}</mat-card-content>

    <mat-card-actions>
        <button mat-button (click)="onAddLike()">{{myProduct.likes}} ❤️</button>
      </mat-card-actions>





<mat-form-field>
    <mat-label>Choose one</mat-label>
    <mat-select [formControl]="selected" [errorStateMatcher]="matcher">
      <mat-option></mat-option>
      <mat-option *ngFor="let element of myProduct.size" [value]="element">{{element}}</mat-option>
      <mat-option value="valid">Autres...</mat-option>
      <!-- <mat-option value="invalid">Invalid option</mat-option> -->
    </mat-select>

    <mat-hint>Très bon choix!</mat-hint>
    @if (selected.hasError('required')) {
      <mat-error>You must make a selection</mat-error>
    }

    <!-- @if (selected.hasError('pattern') && !selected.hasError('required')) {
        <mat-error>Your selection is invalid</mat-error>
      } -->

  </mat-form-field>

</mat-card>
<br>
<br>
<br>
<br>
