<div>
    <app-search-bar
      (searchTermChange)="handleSearchTermChange($event)"
    ></app-search-bar>
    <mat-checkbox [(ngModel)]="OnlyFavorite" (ngModelChange)="filterProducts()"
      >Afficher seulement les favoris</mat-checkbox
    >
  
    <app-tri-articles
      (ChoixPresentationChange)="onSelectionChange($event)"
    ></app-tri-articles>
    <app-product-card
      *ngFor="
        let element of filteredProducts
          | sortByDate : this.ChoixPresentation
          | sortByName : this.ChoixPresentation
      "
      [myProduct]="element"
    ></app-product-card>

    <div class="element">
      <a *ngFor="let element of filteredProducts
      | sortByDate : this.ChoixPresentation
      | sortByName : this.ChoixPresentation
  "
  [routerLink]="['Details', element.id]"
  >
  <app-product-card [myProduct]="element"></app-product-card></a>
    </div>
  
  </div>
  