<head>
  <title>Cart Details</title>
</head>


<mat-selection-list #test>

  @for (element of this.TabArticles; track element) {
    <mat-card style=" margin-top: 2vw;">
    <mat-card-title>Article :</mat-card-title>
    <mat-list-option [selected]="true" style="height: 40vw;">
    <img mat-card-image src={{element.imageUrl}} alt="imageArticleCart" width="120vw" height="auto">  
    <mat-card-content> 
    <p>Title : {{element.title}}</p>
     <h6>{{element.price | currency: 'EUR'}} </h6>
     
    </mat-card-content>
    </mat-list-option>
    <button mat-button (click)="deleteItem(element.id)"> <mat-icon>delete_sweep</mat-icon>
    </button>
    </mat-card> 


}

</mat-selection-list>


<p>
  Articles selectionnées: {{test.selectedOptions.selected.length}}
</p>
<p>
  Prix total: {{ calculateTotalPrice() | currency:'EUR' }}
</p>















<!-- 
<select name="" id="">
  <option value="">1</option>
  <option value="">2</option>
</select>
<form action="">
  <input type="text" /><br /><br />
  <input type="text" /><br /><br />
  <input
    type="text"
  /><br /><br />
  <input type="text" /><br /><br />
  <input
    type="text"
  /><br /><br />
  <input type="text" /><br /><br />
</form> -->
