<head>
  <title>Cart Details</title>
</head>


<mat-selection-list #test>

  @for (element of this.TabArticles; track element) {
    <mat-card style=" margin-top: 2vw;">
    <mat-card-title>Article :</mat-card-title>
    <mat-list-option [selected]="true" style="height: 40vw;">
    <img mat-card-image src={{element.product.imageUrl}} alt="imageArticleCart" width="120vw" height="auto">  
    <mat-card-content> 
    <p>Title : {{element.product.title}}</p>
     <h6>{{element.product.price | currency: 'EUR'}} </h6>
     
    </mat-card-content>
    </mat-list-option>
    <div>
      Quantity:
      <input type="number" [(ngModel)]="element.quantity" (change)="updateCart(element)">
    </div>
    <button mat-button (click)="deleteItem(element.product.id)"> <mat-icon>delete_sweep</mat-icon>
    </button>
    </mat-card> 


}

</mat-selection-list>


<p>
  Articles selectionnées: {{test.selectedOptions.selected.length}}
</p>
<p>
  Prix total: {{ calculateTotalPrice() | currency:'EUR' }}
</p>

<form (ngSubmit)="Submit()">
<div class="matForm">
  <mat-form-field>
    <mat-label>Genre</mat-label>
    <mat-select [(ngModel)]="myUser.gender" name="gender">
      <mat-option value="Mr">Mr.</mat-option>
      <mat-option value="Mme">Mme</mat-option>

    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nom</mat-label>
        <input matInput placeholder="Nom" [(ngModel)]="myUser.firstname" name="firstname">
  </mat-form-field>
      
  <mat-form-field>
        <mat-label>Prenom</mat-label>
        <input matInput placeholder="Prenom"  [(ngModel)]="myUser.name" name="name">
  </mat-form-field>
  
  
<mat-form-field>

    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com"       [(ngModel)]="myUser.email"
    [formControl]="email" required>
    
    @if (email.invalid) {
      <mat-error>{{getErrorMessage()}}</mat-error>
    }
  </mat-form-field>
    <button type="submit" mat-raised-button>Commander</button>
  </div>

  </form>













<!-- 
<select name="" id="">
  <option value="">1</option>
  <option value="">2</option>
</select>
<form action="">
  <input type="text" /><br /><br />
  <input type="text" /><br /><br />
  <input
    type="text"
  /><br /><br />
  <input type="text" /><br /><br />
  <input
    type="text"
  /><br /><br />
  <input type="text" /><br /><br />
</form> -->
